/* HTML5 Stylesheet Reset */
@import url('reset.css');
/* Font for Title */
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
/* Font for Texts */
@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@100&display=swap');

#app {
    box-sizing: border-box;    
    margin: 32px auto;
    width: 1024px;

    font-family: 'Saira Condensed';
    font-weight: 600;
}

#app-contents {
    border: 1px dotted blue;
}

#app-title-box {
    text-align: center;
    border: 1px dotted green;
}

#app-title {
    font-family: 'Lobster';
    font-size: 3em;
    font-weight: bold;
    
}

#app-version {
    padding: 4px 0px;
}

#app-description {
    padding: 16px 0px 8px 0px;
}

#app-description > a {
    text-decoration: none;
    color: blue;

    transition-duration: 0.5s;
}

#app-description > a:hover {
    color: white;
    background-color: black;
}

#app-main {
    border: 1px dotted red;
}

#puzzle-board {
    position: relative;
    box-sizing: border-box;
    
    background-color: aliceblue;
}

div.puzzle-board-tile {
    box-sizing: border-box;
    position: absolute;
    margin: 0px;
    padding: 0px;
    border: 1px solid black;
    border-radius: 4px;
    transition-duration: 0.3s;
}
